h1{
    justify-content: center;
    text-align: center;
    color: green;
}
.cal{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 1em;
   
    
}
.date{
    background-color: green;
    font-size: 3em;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    

}
.other-month{
    background-color: greenyellow;
}
.day{
    background-color: yellowgreen;
    font-size: 2em;
    display: flex;
    justify-content: center;
    border-radius: 100px;
}
    